{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
  <div class=" jumbotron text-center">
    <h1>Administration</h1>
    <p>Bienvenue  sur le panel administrateur pour gérer votre magasin Chaustore.</p>
  </div>
{% endblock %}
